<!-- <h1>Find the Anagrams</h1>
<form action="/word">
  <div class="form-group">
     <label for="anagram">Anagrams!</label>
     <input id="anagram" name="anagram" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Rearrange</button>
</form> -->
