<h1>Are They Anagrams?</h1>
<form action="/lexicon">
  <div class="form-group">
     <label for="input1"></label>
     <input placeholder= 'first word' require id="input1" name="input1" class="form-control" type="text">
     <h6>  Compare  </h6>
     <label for="input2"></label>
     <input placeholder= 'second word' require id="input2" name="input2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Check</button>
</form>
