<!-- <h1>Find the Anagrams</h1>
<form action="/word">
  <div class="form-group">
     <label for="input1">Anagrams!</label>
     <input require id="input2" name="anagram" class="form-control" type="text">
     <h6>  Compare  </h6>
     <label for="input2">Anagrams!</label>
     <input require id="input2" name="anagram" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Rearrange</button>
</form> -->
